.currently-playing {
    background-color: @color-bg-dark;
    bottom: 0;
    height: 100px;
    left: 0;
    position: fixed;
    right: 0;
}

.currently-playing--media-info {
    color: @color-text-recessive;
    font-size: 0.9em;
    line-height: 1.3em;
    margin: 25px 0 0 10px;
}

.currently-playing--media-info--title {
    color: #fff;
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 2px;
}

.currently-playing--media-info--rating {
    margin: 3px 0 4px;
}
