.pagination--navigation {
    height: 30px;
    position: relative;
}

.pagination--navigation--btn {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    font-size: 1.3em;
    height: 25px;
    position: absolute;
    line-height: 25px;
    text-align: center;
    width: 60px;

    &:hover {
        background-color: rgba(255, 255, 255, 0.2);
        cursor: pointer;
    }
}

.pagination--navigation--prev {
    left: 0;
}

.pagination--navigation--next {
    right: 0;
}
