<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Maraschino</title>

        {# CSS #}

        <link href="/static/css/lib.css" rel="stylesheet">
        <link href="/static/css/site.css" rel="stylesheet">

        {# module CSS #}

        {% for plugin in plugins %}
            <link href="/module/{{ plugin }}/static/module.css" rel="stylesheet">
        {% endfor %}

        {# settings #}

        <meta name="columns" content="{{ settings.columns | safe }}">
        <meta name="num_columns" content="{{ settings.num_columns }}">

    </head>
    <body>

        {# container element that React binds to #}

        <div id="container" class="container"></div>

        {# CSS #}

        <script src="/static/js/lib.js"></script>
        <script src="/static/js/site.js"></script>

        {# module JS #}

        {% for plugin in plugins %}
            <script src="/module/{{ plugin }}/static/module.js"></script>
        {% endfor %}

    </body>
</html>
