<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Maraschino</title>

        {# CSS #}
        {# <link href="/static/css/lib.css" rel="stylesheet"> #}
        <link href="/static/css/app.css" rel="stylesheet">

        {# config #}
        <meta name="columns" content="{{ config.columns | safe }}">
        <meta name="serverUrl" content="{{ config.serverUrl }}">

    </head>
    <body>

        {# container element that React binds to #}
        <div id="app"></div>

        {# JS #}
        <script src="/static/js/app.js"></script>

    </body>
</html>
